{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Cos de cumparaturi</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="table-responsive">
                                            <table class="table table-borderless table-centered mb-0">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>Produs</th>
                                                    <th>Pret</th>
                                                    <th>Cantitate</th>
                                                    <th>Total</th>
                                                    <th style="width: 50px;"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for cartItem in cart.cartItems %}
                                                    <tr>
                                                        <td>
                                                            <img src="{{ asset('/images/product/' ~ cartItem.product.filename) }}" alt="contact-img"
                                                                 title="contact-img" class="rounded mr-3" height="48" />
                                                            <p class="m-0 d-inline-block align-middle font-16">
                                                                {{ cartItem.product.description }}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            {{ cartItem.product.value }} RON
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {{ cartItem.quantity }}
                                                            </center>
                                                        </td>
                                                        <td class="pret">
                                                            {{ cartItem.product.value * cartItem.quantity }} RON
                                                        </td>
                                                        <td>
                                                            <a href="{{ path('remove_cartItem', {'id': cartItem.id}) }}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->
                                    </div>
                                    <!-- end col -->

                                    <div class="col-lg-4">
                                        <div class="border p-3 mt-4 mt-lg-0 rounded">
                                            <h4 class="header-title mb-3">Order Summary</h4>

                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <tbody>
                                                    <tr>
                                                        <th>Total :</th>
                                                        <th id="total">0 RON</th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- end table-responsive -->
                                        </div>

                                    </div> <!-- end col -->

                                </div> <!-- end row -->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

{% endblock %}

{% block javascripts %}
    <script type="application/javascript">

        $(document).ready( function () {
            let pret = [];
            let intPret = [];
            let sum = 0;

            $(".pret").each(function () {
                pret.push($(this).text());
            })

            for (let pretKey of pret) {
                intPret.push(removeRON(pretKey));
            }

            for (const intPretElement of intPret) {
                sum += intPretElement;
            }

            $("#total").text(sum + ' RON');

            function removeRON(value) {
                trimmedValue = value.replaceAll(/\s/g,'');
                return  parseInt(trimmedValue.substr(0, trimmedValue.indexOf('R')));
            }
        })
    </script>
{% endblock %}
