{% extends 'base.html.twig' %}

{% block title %}Produse{% endblock %}

{% block stylesheets %}
    <style>
       .product-image {
            text-align: center;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center
       }
   </style>
{% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Produse</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    {% for product in products %}
                        <div class="col-md-6 col-xl-3">
                            <div class="card-box product-box">
                                <a href="{{ path('product.details', {'id': product.id} ) }}">
                                    <div class="bg-white product-image">
                                        <img src="{{ asset('/images/product/' ~ product.filename) }}"
                                            class="img-fluid"
                                            style="height: 100%"
                                            alt="product-pic"/>
                                    </div>
                                </a>
                                <div class="product-info">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="font-16 mt-0 sp-line-1">
                                                <a href="#" class="text-dark">
                                                    {{ product.name }}
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="product-price-tag">
                                                {{ product.value ~ ' RON' }}
                                            </div>
                                        </div>
                                    </div> <!-- end row -->
                                </div> <!-- end product info-->
                            </div> <!-- end card-box-->
                        </div> <!-- end col-->
                    {% endfor %}
                </div>
                <!-- end row-->
            </div> <!-- container -->
        </div> <!-- content -->
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

{% endblock %}
