{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">{{ product.name }}</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">

                                <div class="col-lg-5">
                                    <div class="tab-content pt-0">
                                        <div class="tab-pane active show" id="product-1-item">
                                            <img src="{{ asset('/images/product/' ~ product.filename) }}" alt="" class="img-fluid mx-auto d-block rounded">
                                        </div>
                                    </div>
                                </div> <!-- end col -->

                                <div class="col-lg-7">
                                    <div class="pl-xl-3 mt-3 mt-xl-0">
                                        <h4 class="mb-3">{{ product.name }}</h4>
                                        <h4 class="mb-4">Pret : <b> {{ product.value }} RON</b></h4>
                                        <p class="text-muted mb-4">{{ product.description }}</p>
                                        <form
                                                class="form-inline mb-4"
                                                action="{{ path('add.product.to.cart', {'id': product.id}) }}"
                                                method="post"
                                        >
                                            <label class="my-1 mr-2" for="quantityinput">Quantity</label>
                                            <select class="custom-select my-1 mr-sm-3" id="quantityinput" name="quantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>

                                        <div>
{#                                            <a href="{{ path('add.product.to.cart', { 'id': product.id }) }}">#}
                                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                                <span class="btn-label"><i class="mdi mdi-cart"></i></span>Add to cart
                                            </button>
{#                                            </a>#}
                                        </div>
                                        </form>
                                    </div>
                                </div> <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div> <!-- end card-->
                        {% include 'flash_messages.html.twig' %}
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
            </div> <!-- container -->
        </div> <!-- content -->
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

{% endblock %}
