{% extends 'base.html.twig' %}

{% block title %}Registru{% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Registru</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h4 class="header-title">Sumar</h4>
                            <p class="sub-header">
                                Bonusuri si abonamente
                            </p>

                            <label class="form-inline mb-3">
                                Arata
                                <select id="demo-show-entries" class="form-control form-control-sm ml-1 mr-1">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                                intrari
                            </label>

                            <div class="table-responsive">
                                <table id="demo-foo-pagination" class="table mb-0 table-bordered toggle-arrow-tiny" data-page-size="5">
                                    <thead>
                                    <tr>
                                        <th data-toggle="true"> Serviciu </th>
                                        <th> Data: An - Luna </th>
                                        <th> Valoare </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for registryEntry in registry %}
                                        <tr>
                                            <td>{{ registryEntry.name }}</td>
                                            <td>{{ registryEntry.yearMonth(registryEntry.createdAt | date("Y/m/d")) }}</td>
                                            <td>{{ registryEntry.value }} RON</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="active">
                                        <td colspan="5">
                                            <div class="text-right">
                                                <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div> <!-- end .table-responsive-->
                        </div> <!-- end card-box -->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

{% endblock %}

{% block javascripts %}

    <!-- Footable js -->
    <script src="{{ asset('assets/libs/footable/footable.all.min.js') }}"></script>

    <!-- Init js -->
    <script src="{{ asset('assets/js/pages/foo-tables.init.js') }}"></script>

{% endblock %}