{% extends 'base.html.twig' %}

{% block title %}Bonus{% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <a href="javascript:showBonuses()" class="page-title">Bonusuri</a>
                            &nbsp;&nbsp;/&nbsp;&nbsp;
                            <a href="javascript:showHistory()" class="page-title">Istoric</a>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row" id="bonuses">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-striped" id="products-datatable">
                                        <tbody>
                                            {% set myIndex = 0 %}
                                            {% for key, clients in circles %}
                                                {% for client in clients %}
                                                    {% if client is not null %}
                                                        <tr>
                                                            {% set myIndex = myIndex + 1 %}
                                                            <td>{{ myIndex ~ '.'}}</td>
                                                            <td><b>{{ bonuses[key].name }}</b></td>
                                                            <td>
                                                                <a href="javascript:void(0);" class="text-body font-weight-semibold">
                                                                    {{ client.name ~ ' ' ~ client.surname }}
                                                                </a>
                                                            </td>
                                                            <td>{{ bonuses[key].procentValue ~ '%' }}</td>
                                                            <td>
                                                                {% set tax = subscription.value / (100 / bonuses[key].procentValue) %}
                                                                {{ tax ~ ' RON' }}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row" id="bonus-footer">
                    <div class="col-12">
                        <div style="float: right">
                            <h4>Bonus luna {{ currentMonth ~ ":\n" ~ monthlyBonus |nl2br }} RON</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="row" id="history">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-striped" id="history-datatable">
                                        <tbody>
                                        {% for history in historyBonuses %}
                                            <tr>
                                                <td>{{ loop.index ~ '.'}}</td>
                                                <td>
                                                    <b>{{  history.monthlyBonus }}</b>
                                                </td>
                                                <td>
                                                    <b>{{ history.value ~ ' RON' }}</b>
                                                </td>
                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#history').hide();
        });

        function showHistory() {
            $('#bonuses').hide();
            $('#bonus-footer').hide();
            $('#history').show();
        }

        function showBonuses() {
            $('#bonuses').show();
            $('#bonus-footer').show();
            $('#history').hide();
        }
    </script>

{% endblock %}