{% extends 'frontend/base.html.twig' %}

{% block content %}
    <div class="page-bg" style=" background-image: url({{ asset('frontend/images/bg-pizza.jpg') }}); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Comanda</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu2-wrapper">
                <div class="offer-menu2-items">
                    <div class="alert alert-success">
                        Multumim! <br />
                        Ai efectuat o plata pentru comanda #{{ comanda.id }} <br />
                        Comanda va fi livrata in cel mai scurt timp posibil.
                        {% if comanda.paymentStatus != '' %}
                            <br />
                            Status plata:
                            {% if  comanda.paymentStatus == 'confirmed' %}
                                <span class="text-success">{{ comanda.paymentStatus }}</span>
                            {% elseif comanda.paymentStatus == 'rejected' or  comanda.paymentStatus == 'refunded' or comanda.paymentStatus == 'canceled' %}
                                <span class="text-danger">{{ comanda.paymentStatus }}</span>
                            {% else %}
                                <span class="text-warning">{{ comanda.paymentStatus }}</span>
                            {% endif %}
                        {% endif %}
                    </div>

                    <p class="font-weight-bold">Detalii comanda:</b></p>
                    <p style="Margin-top: 20px;Margin-bottom: 0;">Nume: {{ comanda.name }}</p>
                    <p style="Margin-top: 20px;Margin-bottom: 0;">Telefon: {{ comanda.phone }}</p>
                    <p style="Margin-top: 20px;Margin-bottom: 0;">Email: {{ comanda.email }}</p>
                    <p style="Margin-top: 20px;Margin-bottom: 0;">Adresa: {{ comanda.address }}</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Nume</th>
                            <th scope="col">Cantitate</th>
                            <th scope="col">Pret</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in comanda.orderProducts %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ (product.quantity * product.price)|number_format(2, '.', '') }} RON</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" >
                                <div class="row">
                                    <div class="col-12 text-right" style="font-weight: bold;">TOTAL: {{ comanda.price|number_format(2, '.', '') }} RON</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}