{% extends 'base.html.twig' %}

{% block title %}MobilPay{% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

{#{% block content %}#}
    <div class="page-bg" style=" background-image: url({{ asset('frontend/images/bg-pizza.jpg') }}); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Comanda</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu2-wrapper">
                <div class="offer-menu2-items">

                    <form name="frmPaymentRedirect" method="post" action="{{ payment_url }}">
                        <input type="hidden" name="env_key" value="{{ objPmReqCard.getEnvKey() }}"/>
                        <input type="hidden" name="data" value="{{ objPmReqCard.getEncData() }}"/>
                        <p>
                            Vei fi redirectat catre pagina de plati securizata a mobilpay.ro
                        </p>
                        <p style="line-height: normal"> Pentru a continua apasa <br/>
                            <input width="300" type="image" src="{{ asset('frontend/images/mobilpay.png') }}" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" language="javascript">
	window.setTimeout(document.frmPaymentRedirect.submit(), 5000);
</script>
{% endblock %}

