{% extends 'base.html.twig' %}

{% block title %}MobilPay{% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

{#{% block content %}#}
    <div class="page-bg" style=" background-image: url({{ asset('frontend/images/bg-pizza.jpg') }}); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Comanda</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu2-wrapper">
                <div class="offer-menu2-items">

                    <b>{{ message }}</b>


                </div>
            </div>
        </div>
    </div>
{% endblock %}