Buna ziua,
<br />
<br />
Ati solicitat resetarea parolei. Dati click pe link-ul de mai jos pentru resetarea parolei.
<a href="{{ url('app_reset',{'token': token}) }}">{{ url('app_reset',{'token': token}) }}</a>