

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="dropdown d-none d-lg-inline-block">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen" href="#">
                        <i class="fe-maximize noti-icon"></i>
                    </a>
                </li>

                <li class="dropdown notification-list topbar-dropdown">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        {% if app.user.photo is not null %}
                            <img src="{{ asset('uploads/photos/' ~ app.user.photo) }}" alt="user-image" class="rounded-circle">
                        {% else %}
                            <img src="{{ asset('assets/images/users/user-6.jpg' ~ app.user.photo) }}" alt="user-image" class="rounded-circle">
                        {% endif %}
                        <span class="pro-user-name ml-1">
                            {{ app.user.username }} <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome !</h6>
                        </div>

                        <div class="dropdown-divider"></div>

                        <!-- item-->
                        <a href="{{ path('account_details') }}" class="dropdown-item notify-item">
                            <i class="fe-edit"></i>
                            <span>Editeaza cont</span>
                        </a>

                        <div class="dropdown-divider"></div>

                        <!-- item-->
                        <a href="{{ path('app_logout') }}" class="dropdown-item notify-item">
                            <i class="fe-log-out"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </li>

            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="{{ path('dashboard') }}" class="logo logo-dark text-center">
                            <span class="logo-sm">
                                <img src="{{ asset('logo/cropped-logo-small-echipa-vultur-small.png') }}" alt="" height="50">
                                <!-- <span class="logo-lg-text-light">UBold</span> -->
                            </span>
                    <span class="logo-lg">
                                <img src="{{ asset('logo/cropped-logo-small-echipa-vultur.png') }}" alt="" height="50">
                        <!-- <span class="logo-lg-text-light">U</span> -->
                            </span>
                </a>

                <a href="{{ path('dashboard') }}" class="logo logo-light text-center">
                            <span class="logo-sm">
                                <img src="{{ asset('logo/cropped-logo-small-echipa-vultur-small.png') }}" alt="" height="50">
                            </span>
                    <span class="logo-lg">
                                <img src="{{ asset('logo/cropped-logo-small-echipa-vultur.png') }}" alt="" height="50">
                            </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile waves-effect waves-light">
                        <i class="fe-menu"></i>
                    </button>
                </li>

                <li>
                    <!-- Mobile menu toggle (Horizontal Layout)-->
                    <a class="navbar-toggle nav-link" data-toggle="collapse" data-target="#topnav-menu-content">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </li>

                <li class="d-none d-xl-block">
                    <a class="nav-link waves-effect waves-light" role="button" aria-haspopup="false" aria-expanded="false" style="font-size: 2em">
                        Te educi si castigi !
                    </a>
                </li>

                <li class="d-none d-sm-block d-xl-none">
                    <a class="nav-link waves-effect waves-light" role="button" aria-haspopup="false" aria-expanded="false" style="font-size: 1.5em">
                        Te educi si castigi !
                    </a>
                </li>

                <li class="d-block d-sm-none">
                    <a class="nav-link waves-effect waves-light" role="button" aria-haspopup="false" aria-expanded="false" style="font-size: 1em">
                        Te educi si castigi !
                    </a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="h-100" data-simplebar>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul id="side-menu">

                    <li class="menu-title">Panou</li>

                    {% for item in menuItems %}
                        <li>
                            <a
                                {% if item.route %}
                                    {{ 'href=' ~ path(item.route.name) }}
                                        {% for atribute in item.atributes %}
                                            {{ atribute ~ ' ' }}
                                        {% endfor %}
                                {% endif %}
                            >
                                <i data-feather="{{ item.icon }}"></i>
                                <span>{{ item }}</span>
                            </a>
                        </li>
                    {% endfor %}

                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- Modal -->
    <div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h4 class="modal-title" id="myCenterModalLabel"> Adauga Client</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body p-4">
                    <form action="{{ path('new_consumer') }}" method="post">
                        {{ form(form) }}
                    </form>
                </div>
                <div class="modal-bottom p-4">
                    <p class="text-center">{{ qrCode.label }}</p>
                    <img src="{{ qrCode.writeDataUri }}" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
