{% extends 'base.html.twig' %}

{% block title %}Editare{% endblock %}

{% block body %}
    {% include 'menu/menu.html.twig' %}

    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-md-8 col-lg-6 col-xl-5" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="card bg-pattern">
                        <div class="card-content">
                            <div class="card-header bg-light">
                                <h4 class="card-title" id="myCenterModalLabel"> Detalii cont</h4>
                                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                            </div>
                            <div class="card-body p-4">
                                <form action="{{ path('account_details') }}" method="post" enctype="multipart/form-data">
                                    {{ form(form1) }}
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>

{% endblock %}
