{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Panou</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Profil</h4>
                                <div class="row mt-4 text-center">
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">ID</p>
                                        <h4>{{ app.user.id }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">Nume</p>
                                        <h4>{{ app.user.name }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">Prenume</p>
                                        <h4>{{ app.user.surname }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">Email</p>
                                        <h4>{{ app.user.mail }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">Telefon mobil</p>
                                        <h4>{{ app.user.phone }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">Adresa</p>
                                        <h4>{{ app.user.adress }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">Oras</p>
                                        <h4>{{ app.user.city }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">Judet</p>
                                        <h4>{{ app.user.county }}</h4>
                                    </div>
                                    {% if app.user.status %}
                                    <div class="col-12">
                                        <p class="text-muted font-15 mb-1 text-truncate">Status</p>
                                        <h4>{{ app.user.status }}</h4>
                                    </div>
                                    {% endif %}
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <!--<h4 class="header-title">Status</h4>-->
                                <div class="row mt-4 text-center">
                                    <div class="col-12">
                                        <img src="{{ asset('images/vulturul2.jfif') }}" alt="Vultur" width="100%">
                                    </div>
                                </div>
                                {% if stars > 0 %}
                                <div class="row mt-4 text-center">
                                    {% for i in 0..stars-1 %}
                                        <img src="{{ asset('images/star.jfif') }}" alt="Stea" width="20%">
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="card-box">
                            <h4 class="mt-0 font-16 text-center">Total Membri Retea</h4>
                            <h2 class="text-primary my-3 text-center"><span data-plugin="counterup">{{ totalMembers }}</span></h2>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card-box">
                            <h4 class="mt-0 font-16 text-center">Total Membri Cerc 1</h4>
                            <h2 class="text-primary my-3 text-center"><span data-plugin="counterup">{{ app.user.clients|length }}</span></h2>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card-box">
                            <h4 class="mt-0 font-16 text-center">Bonus Luna {{ currentMonth }}</h4>
                            <h2 class="text-primary my-3 text-center"><span data-plugin="counterup">{{ monthlyBonus }}</span> RON</h2>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card-box">
                            <h4 class="mt-0 font-16 text-center">Bonus Total</h4>
                            <h2 class="text-primary my-3 text-center"><span data-plugin="counterup">{{ totalBonus }}</span> RON</h2>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container -->
        </div> <!-- content -->
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

{% endblock %}
