{% extends 'base.html.twig' %}

{% block title %} Retea {% endblock %}

{% block body %}

    {% include 'menu/menu.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Retea</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-striped" id="network">
                                        <thead>
                                            {% for i in 1..10 %}
                                                <td style="text-align: center;"><b> Cerc {{ i }} </b></td>
                                            {% endfor %}
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% for i in 0..9 %}
                                                    <td style="text-align: center;"> {{ circles[i]['count'] }} </td>
                                                {% endfor %}
                                            </tr>
                                            {% for i in 0..table|length %}
                                                <tr id="{{ i }}">
                                                    {% for j in 0..2 %}
                                                        {% if table[i][j] is defined %}
                                                            <td class="text-body font-weight-semibold" id="{{ i }}{{ j }}">
                                                                {% if table[i][j].status == 'Activ' %}
                                                                    {% set class = "btn-success" %}
                                                                {% else %}
                                                                    {% set class = "btn-danger" %}
                                                                {% endif %}
                                                                <a href="javascript:toogleview({{ i }},{{ j }});" class="btn {{ class }}" style="width: 100%">
                                                                    {% if table[i][j].clients|length > 0 %}
                                                                        {{ table[i][j] ~ ' +'}}
                                                                    {% else %}
                                                                        {{ table[i][j] }}
                                                                    {% endif %}
                                                                </a>
                                                            </td>
                                                        {% else %}
                                                            <td id="{{ i }}{{ j }}"></td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for j in 3..9 %}
                                                        {% if table[i][j] is defined %}
                                                            <td class="text-body font-weight-semibold" id="{{ i }}{{ j }}">
                                                                {% if table[i][j].status == 'Activ' %}
                                                                    {% set class = "btn-success" %}
                                                                {% else %}
                                                                    {% set class = "btn-danger" %}
                                                                {% endif %}
                                                                <a href="javascript:toogleview({{ i }},{{ j }});" class="btn {{ class }}" style="width: 100%">
                                                                    {% if table[i][j].clients|length > 0 %}
                                                                      {% if user.hasRole('ROLE_ADMIN') %}
                                                                        {{ table[i][j] ~ ' +'}}
                                                                      {% else %}
                                                                        {{ table[i][j].id ~ ' +'}}
                                                                      {% endif %}
                                                                    {% else %}
                                                                        {% if user.hasRole('ROLE_ADMIN') %}
                                                                        {{ table[i][j]}}
                                                                      {% else %}
                                                                        {{ table[i][j].id}}
                                                                      {% endif %}
                                                                    {% endif %}
                                                                </a>
                                                            </td>
                                                        {% else %}
                                                            <td id="{{ i }}{{ j }}"></td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row mb-2">
                                    <div class="col">
                                        <h4>Date de contact membri din Cercul 1 :</h4>
                                    </div><!-- end col-->
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-striped" id="products-datatable">
                                        <thead>
                                        <tr>
                                            <td><b>ID</b></td>
                                            <td><b>Membru</b></td>
                                            <td><b>Mobil</b></td>
                                            <td><b>Email</b></td>
                                            <td><b>Localitate</b></td>
                                            <!--<td><b>Create Date</b></td>-->
                                            <td><b>Status</b></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in app.user.clients %}
                                            {% if client.status == 'Activ' %}
                                                {% set color = 'black' %}
                                            {% else %}
                                                {% set color = 'red' %}
                                            {% endif %}
                                            <tr style="color: {{ color }}">
                                                <td class="table-user">
                                                    {{ client.id }}
                                                </td>
                                                <td class="table-user">
                                                    {% if client.photo is not null %}
                                                        <img src="{{ asset('uploads/photos/' ~ client.photo) }}" alt="user-image" class="mr-2 rounded-circle">
                                                    {% else %}
                                                        <img src="{{ asset('assets/images/users/user-1.jpg') }}" alt="table-user" class="mr-2 rounded-circle">
                                                    {% endif %}
                                                    <a href="javascript:void(0);" class="text-body font-weight-semibold">{{ client.name ~ ' ' ~ client.surname }}</a>
                                                </td>
                                                <td>{{ client.phone }}</td>
                                                <td>{{ client.mail }}</td>
                                                <td>{{ client.city }}</td>
                                                <td>
                                                    {% if client.status == 'Activ' %}
                                                        <span class="badge bg-soft-success text-success">{{ client.status }}</span>
                                                    {% else %}
                                                        <span class="badge bg-soft-danger text-danger">{{ client.status }}</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->


            </div> <!-- container -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        $(document).ready(function () {
            $("tr").each(function () {
                if($(this).find("td:first-child").text() == '') {
                    $(this).hide();
                }
            })
        });

        function toogleview(x,y) {
            y++;
            $("tr").eq(x+2).nextAll().each(function () {
                if ($(this).find("td").eq(y).text() != '') {
                    $(this).toggle();
                }
                else {
                    var test = true;
                    Loop1:
                        for (var j = 0; j <= y; j++) {
                            if ($(this).find("td").eq(j).text() != '') {
                                test = false;
                                break Loop1;
                            }
                        }
                    if (test) {
                        $(this).hide();
                    }

                    $(this).nextAll().each(function () {
                        var test1 = true;
                        Loop:
                            for (var j = 0; j <= y; j++) {
                                if ($(this).find("td").eq(j).text() != '') {
                                    test1 = false;
                                    break Loop;
                                }
                            }
                        if (test1) {
                            $(this).hide();
                        }
                        return test1;
                    });
                    return test;
                }
            })
        }

    </script>
{% endblock %}