{% extends 'security/base.html.twig' %}

{% block title %}Inregistrare{% endblock %}


{% block body %}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-8 col-lg-6 col-xl-5" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="card bg-pattern">
                    <div class="card-content">
                        <div class="card-header bg-light">
                            <h4 class="card-title" id="myCenterModalLabel"> Inregistrare</h4>
                            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                        </div>
                        <div class="card-body p-4">
                            <form action="{{ url('registration_form', {'id': id}) }}" method="post">
                                {# form(form) #}
                                {{ form_start(form) }}
                                    {{ form_errors(form) }}
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.surname) }}
                                    {{ form_row(form.mail) }}
                                    {{ form_row(form.phone) }}
                                    {{ form_row(form.adress) }}
                                    {{ form_row(form.city) }}
                                    {{ form_row(form.county) }}
                                    {{ form_row(form.firma) }}
                                    {{ form_row(form.company) }}
                                    {{ form_row(form.cui) }}
                                    {{ form_row(form.companyAdress) }}
                                    {{ form_row(form.acordGDPR) }}
                                <div class="clearfix"></div>
                                    {{ form_row(form.terms) }}
                                    {{ form_row(form.salvare) }}
                                {{ form_end(form) }}
                                <div class="clearfix"></div>
                                <a href="{{ path('terms_conditions') }}">Termeni si conditii</a>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready( function () {
            $("#user_company").parent().hide();
            $("#user_cui").parent().hide();
            $("#user_companyAdress").parent().hide();
            $("#user_firma").click(function () {
                $("#user_company").parent().toggle();
                $("#user_cui").parent().toggle();
                $("#user_companyAdress").parent().toggle();
            });
        })


    </script>

{% endblock %}
