{% extends 'security/base.html.twig' %}

{% block title %}Termeni si conditii{% endblock %}

{% block body %}

    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="card bg-pattern">
                        <div class="card-content">
                            <div class="card-header bg-light">
                                <h4 class="card-title" id="myCenterModalLabel">TERMENI ȘI CONDIȚII GENERALE CONTRACTUALE PENTRU PARTICIPANȚI și MEMBRI ”ECHIPA VULTUR”</h4>
                            </div>
                            <div class="card-body p-4">
                                <h5>1. Părțile contractuale</h5>
                                <p>1.1	MT Success Training SRL (denumită în continuare „Compania”), având sediul social în Reșița, Aleea Trei Ape nr.3, sc.B, ap.4, jud. Caraș-Severin, cu înregistrare la Registrul Comerțului sub nr. J11/395/26.08.2020, CUI 42968984, care oferă servicii de training, consultanță și coaching prin Programul de instruire ”Echipa Vultur”, denumită în cele ce urmează Compania sau echipa, și</p>
                                <p>1.2	Membrul din ”Echipa Vultur” este persoana care se înregistrează gratuit pe website-ul www.echipavultur.ro și acceptă prevederile din prezentul document.</p>
                                <h5>2.	Obiectul contractului</h5>
                                <p>Prezentele dispoziții cu privire la Termeni și condiții generale contractuale pentru membri ”Echipa Vultur”, se acceptă, de către persoanele care doresc să adere la echipă, în prealabil înscrierii, prin parcurgerea lor și prin continuarea operațiunilor de înregistrare. Acestea vor reprezenta relația contractuală de bază dintre noi. Înscrierea se acceptă sau nu, de către conducerea Companiei.</p>
                                <p>2.1	Compania oferă în principal un program de training online cu sesiuni săptămânale, cu durată minimă de o oră și cu diverse subiecte de dezvoltare personală sau de business. Din timp în timp, acestea se pot repeta. Subiectele de dezvoltare personala pot fi: comunicare eficientă, limbajul trupului, vânzări, tratarea obiecțiilor, tipare de personalitate, negociere, managementul conflictelor, relaționare, inteligență emoțională. Suplimentar, membri ”Echipa Vultur” pot comanda și sesiuni individuale de coaching ori training, online, cu durată de o oră, sau conform celor stabilite de comun acord. Ora de coaching sau training reprezintă durata de 60 minute.</p>
                                <p>2.2	Serviciile și produsele oferite de către Companie sunt contra cost, iar prețurile acestora sunt specificate clar pe website-ul platformei de training www.echipavultur.ro. Compania își rezervă dreptul de a actualiza aceste prețuri atunci când se impune și cu o înștiințare a membrilor cu cel puțin o lună înainte de orice modificare, de obicei, prin urmatoarele metode: pe email, pe website sau în cadrul sesiunilor săptămânale de training online.</p>
                                <p>2.3	În această activitate comună, Compania prin intermediul rezultatelor echipei, poate bonusa membri, prin bonusarea activității de recomandare a platformei de training și prin aducerea de noi abonați.</p>
                                <p>2.4	Bonusul reprezintă facilitățile acordate membrilor activi, detaliate în Planul de Marketing.</p>
                                <p>2.5	Produsele Companiei reprezintă: abonament lunar de training cu sesiuni săptămânale de câte o oră, sesiuni de coaching individual de câte o ora, tichete de training de valori diferite pentru viitoare sesiuni de training sau de coaching.</p>
                                <p>2.6	Participarea la cursuri este contra cost.</p>
                                <h5>3.	Statutul de membru</h5>
                                <p>3.1 	Înregistrarea ca membru se face exclusiv online prin formularul de înregistrare de pe website-ul www.echipavultur.ro pe baza unei recomandări. Înregistrarea este gratuită.</p>
                                <p>3.2 	Un membru înregistrat devine membru activ prin contractarea și plata unui abonament lunar, ce reprezintă 4 sesiuni de câte o oră de training fiecare. Excepție de la varianta standard este cazul lunilor cu sărbători religioase importante (Paștele, Crăciunul) sau perioada concediilor de vară, în care vor exista 3 sesiuni de training lunar (de ex. în lunile aprilie, iulie, august și decembrie). Plata abonamentelor către Companie, precum și confirmarea încasării acesteia, reprezintă acceptarea acestor condiții contractuale.</p>
                                <p>3.3 	Orice membru poate recomanda mai departe programul de instruire ”Echipa Vultur”, devenind astfel recomandator pentru orice nou înregistrat pe baza link-ului personal de înregistrare transmis mai departe altor persoane.</p>
                                <p>3.4 	Un membru este îndreptățit să primească beneficii pentru activitatea de marketing de recomandare, conform prevederilor din Planul de marketing al ”Echipei Vultur” în fiecare lună în care are statutul de membru activ (abonament lunar de training plătit).</p>
                                <p>3.5 	Membrul are datoria de a comunica Companiei orice modificare din datele personale menționate la momentul înregistrării.</p>
                                <p>3.6 	Un membru se poate înregistra o singură dată. Nu sunt acceptate înregistrările multiple. În cazul identificării de înregistrări multiple a unui membru se vor anula toate înregistrările ulterioare primei înregistrări și toate beneficiile cumulate pe acestea. Singura excepție de la această regulă este cazul membrului care preia un cont de la un alt membru, cu acordul Companiei.</p>
                                <p>3.7 	O persoană se poate înregistra ca membru doar dacă are vârsta minimă de 18 ani.</p>
                                <p>3.8 	Durata calității de membru este de până la inactivarea calității de membru.</p>
                                <h5>4.	Încetarea statutului de membru</h5>
                                <p>4.1 	Un membru care devine inactiv (neplata abonamentului lunar) timp de două luni își pierde statutul de membru și beneficiile aferente. Ulterior acesta se poate reînregistra la orice recomandator, însă nu primește înapoi echipa de membri creată sau alte beneficii obținute anterior.</p>
                                <p>4.2	Membrul poate înceta relația contractuală cu Compania în orice moment, printr-o declarație în scris și are dreptul să beneficieze de serviciile plătite până la respectiva dată și să încaseze bonusurile aferente până la respectivul moment.</p>
                                <p>4.3	Compania poate înceta în orice moment relația contractuală cu un membru dacă acesta încalcă prevederile prezentului document sau aduce prejudicii semnificative de imagine sau economice Companiei.</p>
                                <p>4.4 	În cazul încetării statutului de membru, sumele achitate cu titlu de abonament, sesiune de coaching sau tichete de training nu se restituie. Compania, pe baza solicitărilor membrilor, contractează în avans personal pentru activitațile de training, coaching, administrative, etc. Aceștia nu pot emite plângeri sau pretenții financiare în instanță împotriva Companiei, ci au dreptul doar la beneficiile deja scadente la acel moment, în caz că nu există daune produse către Companie.</p>
                                <p>4.5 	Compania are dreptul de a pretinde în instanță recuperarea daunelor (în caz că există) produse de către membrul cu care s-a încetat relația contractuală.</p>
                                <h5>5.	Relația juridică</h5>
                                <p>5.1 	Prezentul document nu crează un raport de muncă sau de prestare servicii între membru și Companie. Participarea ca membru la programul de instruire ”Echipa Vultur” este o activitate pe proprie răspundere și independentă juridic de Companie. Opiniile si procedeele coachilor și trainerilor sunt livrate de aceștia, pe baza propriilor principii, teme și subiecte. </p>
                                <p>5.2 	Membrul nu poate pretinde către Companie decontarea unor cheltuieli aferente activității sale de recomandare.</p>
                                <p>5.3 	Membrul este responsabil cu declararea veniturilor obținute din activitatea de recomandare a Programului de training ”Echipa Vultur” și să suporte taxele, impozitele, etc. aferente venitului obținut din colaborarea cu Compania. </p>
                                <p>5.4 	Prezentul contract este guvernat de legislația din România.</p>
                                <h5>6.	Serviciile oferite membrului</h5>
                                <p>6.1 	Orice membru înregistrat primește un ID numeric de identificare, personal și unic.</p>
                                <p>6.2 	Accesul la biroul online personal al membrului pe www.echipavultur.ro se face pe bază de user și parolă, unice pentru fiecare membru. Aceste date de logare trebuie păstrate de către membru în condiții de siguranță și fără a fi comunicate altor persoane. Orice utilizare neconformă trebuie anunțată de îndată Companiei, pentru încercarea remedierii.</p>
                                <p>6.3 	Membrul trebuie să înștiințeze imediat Compania în caz că observă utilizarea abuzivă a biroului online personal. Compania va bloca accesul la acel cont și va transmite membrului noile date de logare. Compania nu poate fi făcută responsabilă pentru utilizarea abuzivă a biroului online personal al membrului.</p>
                                <p>6.4 	În biroul online personal al membrului, acesta poate vizualiza rapoarte cu toate comenzile date către Companie, cu echipa de membri recomandați mai departe și cu beneficiile obținute din activitatea de marketing prin recomandare. Membrul, în cazul în care a fost recomandat de altă persoană, membru al echipei, este de acord ca numele să fie vizibil în graficul echipei. </p>
                                <p>6.5 	Bonusurile aferente activității de marketing de recomandare a membrului activ se transferă în contul bancar comunicat de către acesta în primele șapte zile ale lunii pentru activitatea din luna anterioară și începând de la o sumă minimă de 50 lei. În cazul în care nu     s-a cumulat această sumă minimă de transferat, atunci suma se reportează pentru plata din luna următoare.</p>
                                <p>6.6 	Beneficiile sub formă de credit pentru cumpărături viitoare (vouchere de cumpărături) de pe www.echipavultur.ro se încarcă la rubrica Voucher/credit de cumpărături a membrului în biroul online personal. Acest beneficiu poate fi utilizat strict pentru achiziția de produse și servicii oferite de către Companie.</p>
                                <h5>7.	Prelucrarea și protecția datelor personale ale membrului </h5>
                                <p>7.1 	Compania este înregistrată ca operator de date cu caracter personal.</p>
                                <p>7.2 	Prin înregistrarea ca membru, acesta își dă acordul ca SC MT Success Training SRL să stocheze și să prelucreze datele cu caracter personal ale membrului. Compania nu va transmite aceste date personale către terțe părți.</p>
                                <p>7.3 	Membrul are dreptul de a solicita către Companie consultarea, modificarea sau ștergerea datelor cu caracter personal proprii. </p>
                                <p>7.4 	Prelucrea și protecția datelor, se realizează conform Politicii de confidențialitate și securitate pe care o regăsiți în cuprinsul website-ului.</p>
                                <p>7.5 	Fiecare membru va putea vedea numele abonaților, participanți, ori aduși de el personal. În graficul cu toată structura echipei, dezvoltată mai departe, nu vor fi menționate datele personale ale membrilor de pe nivelurile următoare. Fiecare membru va avea un ID/user și acesta va fi vizibil de către oricare din membrii superiori, dar fără datele personale ale membrului.</p>
                                <h5>8.	Drepturile de proprietate</h5>
                                <p>8.1 	Compania este proprietarul documentelor sau materialelor grafice/imaginilor de pe website-ul www.echipavultur.ro </p>
                                <p>8.2 	Membrul poate folosi în mod public materialele de pe website-ul firmei doar cu acordul scris al acesteia.</p>
                                <p>8.3	Pentru recomandarea Programului de training ”Echipa Vultur” către persoane noi, membrul poate folosi doar materialele puse la dispoziție de către Companie, în condițiile stabilite de aceasta.</p>
                                <p>8.4 	Multiplicarea și transferul materialelor ori părților din acestea este prohibită.</p>
                                <h5>9.	Prevederi finale</h5>
                                <p>9.1 	Prezentul document este acceptat de către membru în mod electronic, online, în momentul înregistrării pe website-ul www.echipavultur.ro și poate fi consultat oricând pe website.</p>
                                <p>9.2 	Toate beneficiile prezentului contract pot fi lasate ca moștenire prin act notarial sau pot fi preluate de către succesorul legal al membrului care a decedat, cu obligația prezentării către Companie a documentelor justificative și acceptarea prezentului document de către persoana ce va prelua contul de membru.</p>
                                <p>9.3 	În cazul în care un membru dorește transferarea contului său de membru către o altă persoană, acest lucru se poate face doar cu acordul scris al Companiei. Persoana care va prelua contul transferat trebuie să fie ori neînregistrată, ori din linia de recomandare a membrului care face transferul (orice membru din propria echipa sau din membri superiori recomandatori). Poziția ocupată în rețea de acel cont transferat către un alt membru nu se va modifica.</p>
                                <p>9.4	Un membru care dorește să renunțe la tichetele de training achiziționate de către el are posibilitatea să le transfere unui alt membru, cu acordul Companiei și respectarea prevederilor de la Art.9.3. În ultima instanță, membrul care dorește să renunțe la tichetele de training achiziționate personal, le poate ceda Companiei și va primi contravaloarea lor sub formă de credit de cumpărături pentru produsele Companiei, însă nu va mai primi nici un beneficiu ulterior de pe urma tuturor tichetelor personale.</p>
                                <p>9.5	În primele 7 zile calendaristice de la achiziționarea de produse ale Companiei, membrul are posibilitatea să renunțe la comandă și să solicite returnarea banilor, care se va face în termen de maxim 14 zile lucrătoare de la data solicitării. În cazul în care produsele pentru care se face returnarea banilor au generat anumite bonusuri membrilor din echipă, acestea se vor regla pe minus la încheierea lunii calendaristice.</p>
                                <p>9.6 	Este interzisă publicarea în spațiul public, ori social media de anunțuri despre vânzarea/transferarea unui cont personal către un alt potențial membru sau membru existent. În cazul descoperirii unor astfel de situații, Compania își rezervă dreptul de a închide acel cont.</p>
                                <p>9.7	Compania poate bloca sau anula contul unui membru în echipa căruia se constată că au loc anumite comenzi de produse doar pentru obținerea unor bonusuri, după care comenzile sunt anulate în termenul de 7 zile și se solicită returnarea banilor. În anumite cazuri, returnarea banilor presupune retragerea din contract, care nu este permisă, după natura serviciilor.</p>
                                <p>9.8 	Este interzisă promovarea de către membri a unor câștiguri exagerate sau a conceptului îmbogățirii rapide și fără activitate din colaborarea cu Compania.</p>
                                <p>9.9 	În toate împrejurările, membrul va afișa o ținută profesională, echilibrată și cu respect pentru fiecare potențial nou membru.</p>
                                <h5>10. Comerț electronic, contracte la distanță și protecția consumatorilor</h5>
                                <p>10.1 	În considerarea dispozițiilor prevăzute de Legea nr. 365 din 7 iunie 2002 (**republicată**) privind comerțul electronic, a specificului serviciilor oferite, învederăm faptul că nu constituie servicii ale societății informaționale, în sensul acestei legi, activitățile  care necesită prezența fizică a furnizorului și a destinatarului, chiar dacă prestarea serviciilor respective implică utilizarea de echipamente electronice.</p>
                                <p>10.2 	În considerarea dispozițiilor prevăzute în ordonanța de urgență nr. 34 din 4 iunie 2014 privind drepturile consumatorilor în cadrul contractelor încheiate cu profesioniștii, precum și pentru modificarea și completarea unor acte normative, respectăm opțiunea consumatorului de a se include datele sale cu caracter personal în baze de date în vederea furnizării de servicii de informații privind abonații sau de registre ale abonaților, precum și, în cazul în care acesta optează pentru includerea în registrul abonaților, indicarea datelor în cauză, în conformitate cu prevederile Legii nr. 506/2004 privind prelucrarea datelor cu caracter personal și protecția vieții private în sectorul comunicațiilor electronice, cu modificările și completările ulterioare.</p>
                                <p>10.3 	Subscrisa, MT Success Training SRL, în baza obligațiilor noastre de informare pentru contractele la distanță înainte de a contracta un contract la distanță vă informăm prin intermediul acestui website www.echipavultur.ro, despre:</p>
                                <p>- principalele caracteristici ale produselor sau serviciilor, având în vedere mediul de comunicare și produsele sau serviciile în cauză;</p>
                                <p>- identitatea profesionistului, cum ar fi denumirea sa comercială;</p>
                                <p>- adresa poștală la care profesionistul este stabilit, precum și, în cazul în care există, numărul de telefon, numărul de fax și adresa de poștă electronică ale acestuia la care poate fi efectiv contactat, pentru a-i permite consumatorului să ia rapid legătura cu profesionistul și să comunice cu acesta în mod eficient și, dacă este cazul, adresa poștală și identitatea profesionistului în numele căruia acționează;</p>
                                <p>- prețul total al produselor și serviciilor cu toate taxele incluse sau, în cazul în care prețul nu poate fi calculat dinainte în mod rezonabil dată fiind natura produselor sau a serviciilor, modalitatea de calcul al prețului și, după caz, toate costurile suplimentare de transport, de livrare, taxele poștale sau de orice altă natură sau, în cazul în care acestea nu pot fi calculate dinainte în mod rezonabil, menționarea faptului că aceste costuri suplimentare ar putea fi suportate de consumator, inclusiv perioada de valabilitate a ofertei sau a prețurilor. În cazul serviciilor de acces și conectare la rețele publice de comunicații electronice ori de servicii de comunicații electronice destinate publicului se vor menționa contravaloarea planului tarifar, cu precizarea numărului de minute, a creditului sau a traficului de date inclus, precum și a condițiilor de utilizare a acestora, dacă este cazul, extraopțiunile disponibile și contravaloarea acestora, tarifele pentru apeluri și pentru minutele ori traficul de date suplimentar, după caz, tariful de conectare sau instalare, cu toate taxele incluse. În cazul unui contract pe durată nedeterminată sau al unui contract care include un abonament, prețul total va include costurile totale pe perioada de facturare. În cazul în care aceste contracte sunt taxate la un tarif fix, prețul total va cuprinde și costurile lunare totale. În cazul în care costul total nu poate fi calculat dinainte trebuie indicat modul în care se calculează prețul;</p>
                                <p>- durata contractului, după caz, sau, dacă contractul este încheiat pe durată nedeterminată sau urmează să fie prelungit în mod automat, condițiile de încetare a contractului, inclusiv penalitățile aplicabile, dacă este cazul;</p>
                                <p>- acolo unde este cazul, durata minimă de valabilitate a obligațiilor care îi revin consumatorului conform contractului.</p>
                                <p>10.4 	Prin natura serviciilor aferente prezentului contract, dreptul de retragere din contract în cazul consumatorilor nu operează, fiind o furnizare de conținut digital care nu este livrat pe un suport material, iar dacă prestarea a început cu acordul prealabil expres al consumatorului, manifestată prin participarea efectivă la curs, fiind așadar informat în prealabil, iar prin acceptarea acestor termeni si condiții a confirmat că a luat cunoștință de faptul că își va pierde dreptul la retragere.</p>
                                <h5>11. Litigii</h5>
                                <p>11.1 	Orice litigiu în legătură cu produsele și serviciile achiziționate prin intermediul acestui website, se soluționează pe cale amiabila, în scris, pe cale extrajudiciară. În cazul în care procedura amiabilă nu duce la stingerea litigiului, acesta va fi deferit organelor judiciare, la instanțele din București.</p>
                                <p>11.2 	Reclamațiile la ANPC se primesc numai după ce încercaţi să rezolvaţi amiabil problema cu operatorul economic, care a comercializat produsul sau a prestat serviciul. În situaţia în care nu aţi ajuns la o înţelegere cu noi, atunci aveţi dreptul să depuneţi o reclamaţie. Reclamaţia sau sesizarea se face în nume personal. Reclamaţiile şi sesizările adresate ANPC pot fi depuse doar de către consumatori persoane fizice. Divergenţele între operatorii economici nu intră în sfera de competenţă a Autorităţii Naţionala pentru Protecţia Consumatorilor.</p>
                                <h5>12. Autoritatea în domeniu</h5>
                                <p>AUTORITATEA NAȚIONALĂ PENTRU PROTECȚIA CONSUMATORILOR Adresa: București, Bulevardul Aviatorilor nr. 72, sector 1, cod poștal 011865
                                    http://reclamatii.anpc.ro/Reclamatie.aspx
                                </p>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>

{% endblock %}

