<h3>Utilizatorul {{ consumer }} a fost inscris cu succes de catre {{ consumer.sponsor }}</h3>

<h3>Nume:{{ consumer.name }}</h3>
<h3>Preume:{{ consumer.surname }}</h3>
<h3>Email:{{ consumer.mail }}</h3>
<h3>Telefon:{{ consumer.phone }}</h3>
<h3>Judet:{{ consumer.county }}</h3>
<h3>Oras:{{ consumer.city }}</h3>
<h3>Adresa:{{ consumer.adress }}</h3>
<h3>Companie:{{ consumer.company }}</h3>
<h3>CUI:{{ consumer.cui }}</h3>
<h3>Adresa companie:{{ consumer.companyAdress }}</h3>