<h3>Bine ai venit in Echipa Vultur,</h3>
<p>Numele de utilizator este: {{ consumer.username }}</p>
<p>Noua ta parola este: {{ password }}</p>
<p>Pentru login <a href="{{ url('app_login') }}">click aici</a>.</p>